span.umnHathiTrustLink a {
  margin-left: -5px;
}

span.umnHathiTrustLink a md-icon svg {
  height: 1.2em;
  filter: grayscale(100%);
}

span.umnHathiTrustLink:hover a md-icon svg {
  filter: grayscale(0%);
}
