span.umnHathiTrustLink {
  background-image: url(../img/hathitrust.ico);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}

span.umnHathiTrustLink a {
  padding-left: 1.5em;
}

